*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*navigation*/
ul{
    list-style-type: none;
}

.grid{
    display: grid;
    grid-template-columns: 50px 400px;
}
.flex{
    display: flex;
   
}
.grid-class{
    display:grid;
   grid-template-columns: repeat(6,1fr);
}
.img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.img1{
    width: auto;
    height: 35px
}
.img3{
    width: auto;
    height: 38px
}
.img4{
    width: auto;
    height: 38px;
}
.img5{
    width: auto;
    height: 38px;
}
.img6{
    width: auto;
    height: 35px
}
.img7{
    margin: 5px;
    width: auto;
    height: 50px;
}
.search-bar{
    width: 250px;
    height:40px;
    background-color: lightblue;
    box-shadow: 0 0 1px black;
    margin: 20px;
}
.pad{
    padding: 5px;
}
.search-text{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 10px;

}
.nav-text{
    padding-left: 5px;
    padding-top:10px
}
.material-symbols-outlined{
  ;
}
li{
    margin:10px 10px
}
li,p{
 margin: 10px;
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 font-size:15px
}
.main-nav{
    height: 85px;
    display: grid;
    grid-template-columns: 400px 600px 0;
    border:1px solid gray;
    background-color: white;
}
.left-nav{
    margin: 0px 100px;
}
.center-nav{
    margin:0px;
    margin-left: 100px;
    
}
.right-nav{
    height: 80px;
    margin: 0px ;
    border-left: 1px solid gray;
    
}
.right-nav-text{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13;
    padding-left:10px;
   
}
/*leftside-content*/
.main{
    display: flex;
    
}

.main-left-content{
   
}
.leftside-content{
    max-width: 330px;
   flex:1;
}
.inside-left1{
    border:1px solid black;
    background-color: white;
    border-bottom: none;
    height: 150px;
    margin-top:20px;
    margin-left: 120px;
    border-top-left-radius:3%;
    border-top-right-radius: 3%;
}
.left1{

    height: 50px;
    display: grid;
    grid-template-columns: 130px 15px 65px ;
    overflow: visible;
   
}
.l1{
    background-color: lightgray;
    max-height: 50px;
    border-top-left-radius:5%;
   
}
.l2{
    background-color: whitesmoke;
    transform: skew(-4deg);
}
.l3{
    background-color: grey;
    border-top-right-radius: 10%;
}
.img-left{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-left: 70px;
    margin-top: 10px;
    z-index: 100;
}
.left1-text{
    padding :0 20px;
    padding-top: 20px;
    color: black;
    font-weight: 500;
}
.lt1{

    font-size: 10;
    font-weight: 500;
    color: blue;
    padding-left: 50px;
}

.inside-left2{
    background-color: white;
    height:60px;
    margin-left: 120px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.left2-text{
    font-size: 13px;
    font-weight: 500;
    color:gray;
}
.lt2{
    font-size: 13px;
    font-weight: 500;
    color: black;
}
.inside-left3{
    background-color: white;
    border:1px solid black;
    height: 60px;
    margin-left:120px
}
.left3-text{
    font-size: 12;
    font-weight: 100;
}
.samp{
 
    margin-top: -10px;
    margin-left: 20px;
}
.lt3{
    padding-left: 12px;
    padding-top: 0px;
    font-size: 11;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    color: black;
}
.color{
    background-color: yellow;
    margin-top: 11px;
    margin-left: 10px;
    width:8px;
    height:8px;
}
.inside-left4{
  background-color: white;
    height: 40px;
    margin-left: 120px;
    border: 1px solid black;
    border-top:none;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}
.l4-img{
    padding: 10px;
    
    width:50px;
}
.l4-text{
    margin-top: -48px;
    margin-left: 50px;
}
.lt4{
    font-size: 15;
    font-weight: 500;
    color: black;
}
.left-bottom-main{
   background-color: white;
    border:1px solid black;
    border-radius: 3%;
    margin-top: 20px;
    margin-left: 120px;
}
.inside-bottom1 p{
   color: blue;
   font-size: 13;
   font-weight: 500;
}
.inside-bottom2 p{
    color: blue;
    font-size: 13;
    font-weight: 500;
}
.inside-bottom3 p{
    color: blue;
    font-size: 13;
    border-bottom: 1px solid black;
   font-weight: 500;
   padding-bottom: 2px;
}
.inside-bottom4 p{
    padding-left: 30px;
    font-weight: 600;
    
}
/*center-main*/
.center-main-content{
flex:1;
    max-width: 500px;
    margin-left: 30px;
  
}
.inside-center1{
    background-color: white;
    width:auto;
    margin-top: 20px;
    height: 100px;
    border: 1px solid black;
    border-radius: 5px;

}
.inside1-center1{
    width: 500px;
    height: 55px;
    display: flex;
    

   
}

.ic1{
    
  width: 100px;
   height: 55px;

}
.ic2{
  width: 398px;
 
   height: 55px;
    
}
.ic2-text{
 width: 380px;
 height: 40px;
 margin-top: 10px;
 margin-left: 1px;
 padding-left: 10px;
 padding-top: 7px;
 border-radius: 20px;
 
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 font-weight: 400;
 font-size: 15;
 color: gray;
 border: 1px solid black;

}
.img-center{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 30px;
    margin-top: 5px;
    
}
.inside2-center1{
    
    width: 499px;
    height: 43px;
    display: flex;
    justify-content: space-between;
}
.i2c1{
 
    width: 100px;
    margin-left: 10px;
    padding:10px;
}
.i2c2{
  
    width: 100px;
    margin-left: 10px;
    padding:10px;
}
.i2c3{
   
    width: 130px;
    margin-left: 5px;
    padding:10px;
}
.i2c1-text{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15;
    font-weight: 400;
    color: grey;
    padding-top: 10px;
    padding-left: 6px;
}
/*center-content2*/
/*ruler*/
.ruler-main{
    display: grid;
    grid-template-columns: 80% 20%;
}
.ruler{
   margin: 10px 0;
   width:100%;
    height: 1%;
    background-color: gray;
}
.ruler-text{
    font-size: 10;
    margin-top: 3px;
}

.inside-center2
{
   border-radius: 5px;
   border: 1px solid black;
    background-color: white;
     height: 600px;
}
.inside-top{
  
    display: grid;
    grid-template-columns: 80px 100px auto;
}
.symbol{

 padding-top:20px;
 padding-left: 25px;
}
.justification{


}
.j1{
    font-weight: 500;
}

.j2{
   font-weight: 100;
   font-size: 10;
   line-height: 1.2px;
}
.j3{
   font-weight: 100;
   font-size: 10;
   line-height: 1.2px;
}
.icons{
padding-top: 10px;
padding-left: 250px;
}
.i2p{
    font-size: 15;
    font-weight: 400;
    padding-left: 15px;
}
.inside-main{
    background-color: antiquewhite;
    height: 400px;
}
.main-bottom{
    height: 30px;
   
    display: flex;
    justify-content: space-between;
}
.mb1{
    margin-top: 10px;
    margin-left: 10px;
}
.mb1 span{
    font-size: 13px;
    padding-left: 5px;
    color: gray;
    font-weight: 500;
}
.mb2 p{
    font-size: 13px;
    color: gray;
}
.inside-bottom{
    border-top:1px solid black;
    display: flex;
    justify-content: space-evenly;
    max-height: 45px;
}
.ib1{
    margin-top: -10px;
    margin-left: 1px;
}
/*right-content*/
.right-main-content{
    flex:1;
}
.right-content{
    width: 300px;
    height: 300px;
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 5px;
    border:1px solid black;
    background-color: white;
    display: flex;
    flex-direction: column;
    
}
.rc1{
 height:50px;

}
h2{
    font-size: 20;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 10px;
    padding:10px;
}

.rc-text1{
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 15;
font-weight: 500;
padding-left: 10px;
}
.rc-text2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10;
    font-weight: 400;
    color: gray;
    padding-left: 10px;
}
.rc2{
    height: 50px;

}
.rc3{
    height: 50px;
   
}
.rc4{
    height: 50px;
    
}
.rc5{
    height: 50px;
   
}
.rc6{
    height: 50px;
   
}
.rc7{
    height: 50px;
   
}
.rc1-text1{
    color: gray;
    padding-left: 10px;
    padding: 10px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:15;
    font-weight: 400px;
}
/*right-bottom*/
.right-bottom-content{
    background-color: white;
    border: 1px solid black;
    margin-left:30px;
    margin-top:20px;
    width:300px;
    height:280px;
    border-radius: 5px;
}
.rb1{
    text-align: right;
    height: 30px;
}
.rb1-text{
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 font-size: 13;
}
.rb2-text{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:13;
    color:gray;
    padding: 0 10px;
}
.rb3{
    padding-left: 100px;
}
.rb-img{
    width: 100px;
    height: 100px;
}
.rb4-text{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15;
    font-weight: 400;
    color:gray;
    margin: 10px;
    
}
.rb5-text{
    
    width:150px;
    height:40px;
    margin: 0;
    margin-left:80px;
    padding: 10px 35px;
    border: 1px solid blue;
    border-radius: 50px;
    color: blue;
}
/*footer*/
.footer{
    margin-left:50px;
    margin-top:20px;
    width:250px
}
.footer span{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:grey;
  font-size:12;
  line-height: 20px;
}
.footer1{
    display: flex;
    justify-content: space-between;
}
.footer2{
    display: flex;
    justify-content: space-between;
}
.footer3{
    display: flex;
    justify-content: space-between;
}
.footer4{
    display: flex;
    justify-content: space-between;
}
.f1{
    padding: 0 50px;
}